USE master
GO
Create DataBase [MotorbikeDB]
GO
USE [MotorbikeDB]
GO
/****** Object:  Table [dbo].[Table_Motorbike]    Script Date: 19.03.2023 19:21:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Motorbike](
	[ID] [int] NOT NULL,
	[Model] [nvarchar](50) NULL,
	[Brand] [nvarchar](50) NULL,
	[Price] [float] NULL,
	[Horsepower] [int] NULL,
	[Mileage] [float] NULL,
	[Picture] [nvarchar](max) NULL,
 CONSTRAINT [PK_Table_Motorbike] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

